.search-bar {
    display: flex;
    align-items: center;
    margin-left: 345px;
    margin-bottom: auto;
}

#search-input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#search-button {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-bar input[type="text"] {
    color: #000; /* Set the desired text color */
}
/* Add this CSS code to style the popup */
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black; /* Set the text color to black */
  }
  

